<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">COURSES EDUCATION</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="https://scontent.fsgn5-6.fna.fbcdn.net/v/t1.30497-1/453178253_471506465671661_2781666950760530985_n.png?stp=dst-png_s148x148&_nc_cat=1&ccb=1-7&_nc_sid=22ec41&_nc_eui2=AeEqXEPgUrev1F88CL9JmN2dWt9TLzuBU1Ba31MvO4FTUFwaAhf1kM584WcQB1NGpnccvv8QNBxu7rLr4rwDpPik&_nc_ohc=lbW45KJmk6YQ7kNvgHlApLg&_nc_ht=scontent.fsgn5-6.fna&oh=00_AYBTgU--xMeuuEaGFvrGnN4zcOpDzLaYZLlv2x5rKovMuA&oe=6718B9BA"
              alt=""
              class="user-avatar"
            />
            Hoang Tran
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/courses/create">Thêm khoá học</a>
            <a class="dropdown-item" href="/me/stored/courses">Khoá học của tôi</a>
            <a class="dropdown-item" href="/me/stored/news">Bài viết của tôi</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Đăng xuất</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>